spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  sql:
    init:
      mode: never

app:
  base-url: http://localhost:8080
  jwt:
    secret: bXlzdXBlcnNlY3JldGtleW15c3VwZXJzZWNyZXRrZXk=
    expiration: 3600

